body{
margin:0;
font-family:'Segoe UI',sans-serif;
background:#f3f4f7;
}

/* DASHBOARD */

.dashboard{
height:100vh;
display:flex;
flex-direction:column;
}

/* HEADER MODERNO */

.header{
padding:25px 20px;
background:linear-gradient(135deg,#f1f096,#9f44ff);
color:white;
border-bottom-left-radius:25px;
border-bottom-right-radius:25px;
}

.header h1{
margin:0;
font-size:22px;
}

.header h2{
margin-top:5px;
font-size:16px;
font-weight:400;
color:#333
}

/* SALDO PRINCIPAL */

.resumo-financeiro{
display:flex;
flex-direction:column;
gap:12px;
margin-top:15px;
}

.resumo-card{
background:white;
padding:15px;
border-radius:12px;
box-shadow:0 6px 12px rgba(0,0,0,0.15);
color:#333;
display:flex;
justify-content:space-between;
align-items:center;
}

.resumo-card span{
font-size:14px;
color:#666;
}

.resumo-card strong{
font-size:18px;
}

/* CORES */

.entrada strong{
color:#00a86b;
}

.saida strong{
color:#e53935;
}

.saldo{
background:linear-gradient(135deg,#00c853,#43a047);
color:white;
}

.saldo span,
.saldo strong{
color:white;
}

/* FORMULÁRIO */

.formulario{
padding:20px;
display:flex;
flex-direction:column;
gap:10px;
}

.input-padrao{
padding:12px;
border-radius:8px;
border:1px solid #ccc;
font-size:14px;
}

.btn-adicionar{
background:#7b2ff7;
color:white;
border:none;
padding:12px;
border-radius:8px;
font-weight:600;
cursor:pointer;
transition:.2s;
}

.btn-adicionar:hover{
transform:scale(1.02);
}

/* LISTA DE TRANSAÇÕES */

.lista-transacoes{
flex:1;
overflow-y:auto;
padding:20px;
background:#f3f4f7;
}

/* CARDS */

.cards{
display:flex;
flex-direction:column;
gap:12px;
color:#333
}

.card-retangulo {
  background: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
  transition: 0.2s;
  display: flex;
  flex-direction: column; /* empilha os elementos */
  gap: 10px;               /* espaço entre eles */
}


.card-retangulo:hover{
transform:translateY(-3px);
}

.info-principal{
display:flex;
justify-content:space-between;
font-weight:600;
}

.info-secundaria{
display:flex;
justify-content:space-between;
font-size:12px;
color:#777;
margin-top:6px;
}

.delete {
  background: #e53935;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  font-size: 13px;
  cursor: pointer;
  align-self: flex-end;     /* alinha à direita */
  margin-top: 10px;         /* espaço acima */
}

.delete:hover {
  background: #c62828;
}

@media (min-width:768px){

.dashboard{
max-width:auto;
margin:auto;
}

.resumo-financeiro{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;
}

.cards{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:15px;
}

}