body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
   
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  text-align: center;
  width: 350px;
  animation: fadeIn 1s ease;
   background: linear-gradient(135deg,#eee7ce,#f5e6a3);
}

.login-container h1 {
  margin-bottom: 1rem;
  color: #333;
}

.login-img {
  max-width: 200px;
  margin: 20px auto;
  display: block;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.login-form input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
}

.login-form button {
    background: linear-gradient(135deg,#eee7ce,#685a1d);
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.login-form button:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

/* Animação suave */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}